body {
    font-size: 25px;
    margin: 0;
    color: #27253d;
    background: #e6f3f8;
}

.hidden {
    display: none;
}

.pagination-container {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    padding: 60px;
    justify-content: center;
}

.pagination-number,
.pagination-button {
    font-size: 18px;
    background-color: transparent;
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 4px;
}

.pagination-number.active {
    color: #fff;
    background: rgb(41, 180, 155);
    background: radial-gradient(circle,
            rgba(41, 180, 155, 1) 0%,
            rgba(23, 17, 205, 1) 100%);
}

ul .row li {
    list-style-type: none;
}